body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}

.wrapper {
  width: 500px;
  margin: 10px auto;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

/* 评论框样式 */
.commentInput {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
}

.commentField {
  margin-bottom: 15px;
  display: flex;
}

.commentField .commentFieldName {
  display: flex;
  flex-basis: 100px;
  font-size: 14px;
}

.commentField .commentFieldInput {
  display: flex;
  flex: 1;
}

.commentFieldInput input,
.commentFieldInput textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: 14px;
  resize: none;
  flex: 1;
}

.commentFieldInput textarea {
  height: 100px;
}

.commentFieldButton {
  display: flex;
  justify-content: flex-end;
}

.commentFieldButton button {
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.commentFieldButton button:active {
  background: #13c1f1;
}

/* 评论列表样式 */
.commentList {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

/* 评论组件样式 */
.comment {
  position: relative;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

.comment .commentUser {
  flex-shrink: 0;
}

.commentUsername {
  color: #00a3cf;
  font-style: italic;
}

.commentCreatedtime {
  padding-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
}

.comment:hover .commentDelete {
  color: #00a3cf;
}

.commentDel {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.comment p {
  margin: 0;
  /*text-indent: 2em;*/
}

code {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 0px 2px;
}